{{ partial "header.html" . }}
<section class="post-list">
    {{ range .Paginator.Pages }}
    <article class="single-post border-bottom pb-4">
        <h2 class="entry-title mt-4 mb-4">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <div class="post-meta mb-4">
            <span class="post-author">Posted by: {{ .Params.author }}</span>
            <span class="post-date">
                <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </span>
            <span class="post-tags">
                {{ range (.GetTerms "tags") }}
                    <a href="{{ .Permalink }}">{{ .LinkTitle }} </a>
                {{ end }}
                {{  $name, $taxonomy := .Site.Taxonomies.tags }}
    <a href="/tags/{{ $name | urlize }}">#{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
{{end}}
            </span>
        </div>
        
        {{ if .Params.image }}
        <div class="row">
             <div class="col-md-8 mx-auto d-flex">
                <a href="{{ .Permalink }}"><img src="{{ .Params.image }}" class="img-fluid rounded img-thumbnail"></a>
             </div>
        </div>
        {{ end }}
        
        <div class="entry-content">{{ .Summary }}
        <p class="float-end mt-1"><a href="{{ .Permalink}}">Read More..</a></p>
        </div>
    </article>
    {{ end }}
    <div class="pt-4">
        {{ template "_internal/pagination.html" . }}
    </div>
    
    
  
</section>

{{ partial "footer.html" . }}
